dihash
dowhy>=0.11.1
ipykernel>=6.29.2
ipython>=8.18.0
networkx>=3.2.1
numpy>=1.26.1
pandas>=2.2.0
pydot>=2.0.0
scikit-learn>=1.3.2
tqdm>=4.66.2
numpy


mkdocs-material 
mkdocs-gen-files 
mkdocs-literate-nav 
markdown_include 
pymdown-extensions 
markdown 
Pygments 
mkdocs-jupyter 
mkdocstrings-python 
mkdocstrings 
mdx_include
mkdocs-section-index
mkdocs-material
